{% extends 'base.jinja' %}

{% block content %}

<h2>{{page_title}}</h2>

<table class="table table-hover album-table">
    <thead class="thead-default">
        <tr>
            <th></th>
            <th>Filed Under</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Genre</th>
            <th>Label</th>
        </tr>
    </thead>
    <tbody>
        {% for album in album_list %}
        <tr>
            <td>
                <div class="album-star-control" 
                     data-album-id="{{album.id}}" 
                     data-starred="true">
                </div>
            </td>
            <th scope="row">{{album.artist.file_under}}</th>
            <td>
                <a href="{{ url('albums:albums-by-artist', args=[album.artist.id]) }}">{{album.artist.display_name}}</a>
            </td>
            <td><a href="{{ url('albums:album-detail', args=[album.id]) }}">{{album.title}}</a></td>
            <td>
                <a href="{{ url('albums:albums-by-genre', args=[album.genre.id]) }}">{{album.genre.label}}</a>
            </td>
            <td>
            {% for label in album.labels.all() %}
                <a href="{{ url('albums:albums-by-label', args=[label.id]) }}">{{label.name}}</a>
                {% if not loop.last %} / {% endif %}
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}