{% extends 'base.jinja' %}

{% block content %}

    {% if 'q' in request.GET %}
        {% set val = request.GET.q %}
    {% else %}
        {% set val = '' %}
    {% endif %}

    <form class="row" method="get" action=".">

        <div class="form-group col">
            <input type="text" class="form-control" id="q" name="q" placeholder="Search Albums" value="{{ val }}">
        </div>

        <div class="form-group col-2 text-right">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </form>

    {% if 'q' in request.GET %}

    <div class="row">

        <table class="table table-hover album-table">
            <tbody>
                {% for res in search_results %}
                <tr>
                    <td>{{ res.title }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}
{% endblock %}
