{% extends 'base.jinja' %}

{% block content %}

{% if user.has_perm('albums.add_album') %}
<div class="row">
    <div class="col">
        <p class="d-inline-block">Filter by last:</p>
        <div class="btn-group" role="group" aria-label="Filter Day Range">
            <a role="button" class="btn btn-light" href="{{ url('albums:album-list-recent', args=['7']) }}">7 Days</a>
            <a role="button" class="btn btn-light" href="{{ url('albums:album-list-recent', args=['30']) }}">30 Days</a>
            <a role="button" class="btn btn-light" href="{{ url('albums:album-list-recent', args=['60']) }}">60 Days</a>
            <a role="button" class="btn btn-light" href="{{ url('albums:album-list-recent', args=['90']) }}">90 Days</a>
            <a role="button" class="btn btn-light" href="{{ url('albums:album-list-recent', args=['120']) }}">120 Days</a>
        </div>
    </div>
    <div class="col-2">
        <a href="{{ url('albums:album-new') }}" class="btn btn-primary">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add Album
        </a>
    </div>
</div>
{% endif %}

<table class="table table-hover album-table">
    <thead class="thead-default">
        <tr>
            {% if user.is_authenticated %}<th></th>{% endif %}
            {% if user.has_perm('albums.add_album') %}<th></th>{% endif %}
            <th>Filed Under</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Genre</th>
            <th>Label</th>
        </tr>
    </thead>
    <tbody>
        {% for album in album_list %}
        <tr>
            {% if user.is_authenticated %}
            <td>
                <div class="album-star-control" 
                        data-album-id="{{album.id}}" 
                        data-starred="{{ (album in user_albums)|lower }}">
                </div>
            </td>
            {% endif %}
            {% if user.has_perm('albums.add_album') %}
            <td>
                <div class="album-print-control" 
                        data-album-id="{{album.id}}" 
                        data-saved="{{ (request.session.labels_to_print and album.id in request.session.labels_to_print )|lower }}">
                </div>
            </td>
            {% endif %}
            <th scope="row">{{album.artist.file_under}}</th>
            <td>
                <a href="{{ url('albums:albums-by-artist', args=[album.artist.id]) }}">{{album.artist.display_name}}</a>
            </td>
            <td><a href="{{ url('albums:album-detail', args=[album.id]) }}">{{album.title}}</a></td>
            <td>
                <a href="{{ url('albums:albums-by-genre', args=[album.genre.id]) }}">{{album.genre.label}}</a>
            </td>
            <td>
            {% for label in album.labels.all() %}
                <a href="{{ url('albums:albums-by-label', args=[label.id]) }}">{{label.name}}</a>
                {% if not loop.last %} / {% endif %}
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if is_paginated %}
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous() %}
            <li class="page-item">
                <a class="page-link" href="{{ "%s?page=%d" % (url('albums:album-list'),page_obj.previous_page_number()) }}" aria-label="Previous">Previous</span></a>
            </li>
            {% endif %}

            {% if page_obj.has_next() %}
            <li class="page-item">
                <a class="page-link" href="{{ "%s?page=%d" % (url('albums:album-list'),page_obj.next_page_number()) }}" aria-label="Next">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

{% endblock %}