{% extends 'base.jinja' %}

{% block content %}

<div id="album-detail">
    <h2>Album Details</h2>
    <div id="album-detail-header">
        <span class="album-title">{{album.title}}</span> by 
        <span class="album-artist">{{album.artist.display_name}}</span>
        <a href="#" class="star-album" id="star-album-{{album.id}}">
        {% if is_starred %}
        <i class="fa fa-star" aria-hidden="true"></i>
        {% else %}
        <i class="fa fa-star-o" aria-hidden="true"></i>
        {% endif %}
        </a>
    </div>
    <ul>
        <li><b>Label:</b> {{album.label_display_text}}</li>
        <li><b>Genre:</b> {{album.genre.label}}</li>
        <li><b>Location:</b> {{album.location.label}}</li>
        <li><b>Media:</b> {{album.media.label}}</li>
        <li><b>Added:</b> {{album.created.strftime('%B %-d, %Y')}} </li>
    </ul>
</div>

{% if user.has_perm('albums.change_album') %}
<div>
    <a href="{{ url('albums:album-edit', args=[album.id]) }}" class="btn btn-primary">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        Edit Album
    </a>
</div>
{% endif %}

{% endblock %}