{% extends 'base.jinja' %}

{% block content %}
<h2>{{page_title}}</h2>

<form method='post'>
    
    {% csrf_token %}
    {{ form|bootstrap }}

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>

</form>

{% endblock %}

{% block page_scripts %}

<script type="text/javascript">
$(document).ready(function(){

    function setUpGroupToggles(slugs, label) {

        var form_group_wrapper = $('<div class="collapse collapsible-form-group" id="'+label+'-form-group-wrapper"></div>');
        var first_form_group = $('#id_new_'+slugs[0]).parents('.form-group');
        form_group_wrapper.insertBefore(first_form_group);
        
        $(slugs).each(function(idx){
            slug = this;
            var form_group = $('#id_new_'+slug).parents('.form-group');
            form_group_wrapper.append(form_group);       
        });

        $('<div class="form-toggle"><a href="#"><i class="fa fa-plus-circle"></i>New '+label+'</a></div>')
            .insertBefore(form_group_wrapper)
            .click(function(e) {
                e.preventDefault();
                form_group_wrapper.collapse('toggle');
                var iconNode = $('i', this);
                iconNode.toggleClass('fa-plus-circle');
                iconNode.toggleClass('fa-minus-circle');
            });
    }

    setUpGroupToggles(['label'], 'label');
    setUpGroupToggles(['artist_first', 'artist_last', 'artist_name'], 'artist');

});
</script>

{% endblock %}