{% extends 'base.jinja' %}

{% block content %}
<h2>{{page_title}}</h2>

<p>
    <a href="#" data-toggle="modal" data-target="#namingConventionsModal">
        <i class="fa fa-info-circle"></i>
        Naming and Data Conventions
    </a>
</p>

<form method='post'>
    
    {% csrf_token %}
    {{ form|bootstrap }}

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>

</form>

<div class="modal fade" id="namingConventionsModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fa fa-list-ul"></i> Naming and Data Conventions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
            <li>Only create a new artist or label if the desired entity does not already exist.</li>
            <li>Self-released albums should be assigned the label "Self" (not the name of the artist, "Self-released", "S/R", or other variants).</li>
            <li>Use "and" over "&" unless an artist or album name explicitly uses "&".</li>
            <li>Do not include the names of promotors or other entities (e.g. Clermont, Terrorbird) in the Labels field.</li>
            <li>For albums with multiple artists, use the artist: "Various Artists".</li>
            <li>When creating a new artist, use Artist First/Last fields only when the artist name is that of an individual (e.g. Bob Dylan, Prince, P.J. Harvey) and not when the artist name is a band name or project name of an individual (e.g. The Kinks, Strand of Oaks).</li>
            <li>Self-titled albums should have the artist's name as the album title, and not "Self-titled", "s/t", or any other variants.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block page_scripts %}
{{ form.media }}

<script type="text/javascript">
$(document).ready(function(){

    function setUpGroupToggles(slugs, label) {
        
        var form_group_wrapper = $('<div class="collapse collapsible-form-group" id="'+label+'-form-group-wrapper"></div>');
        var first_form_group = $('#id_new_'+slugs[0]).parents('.form-group');
        form_group_wrapper.insertBefore(first_form_group);
        
        $(slugs).each(function(idx){
            slug = this;
            var form_group = $('#id_new_'+slug).parents('.form-group');
            form_group_wrapper.append(form_group);       
        });

        $('<div class="form-toggle"><a href="#"><i class="fa fa-plus-circle"></i>New '+label+'</a></div>')
            .insertBefore(form_group_wrapper)
            .click(function(e) {
                e.preventDefault();
                form_group_wrapper.collapse('toggle');
                var iconNode = $('i', this);
                iconNode.toggleClass('fa-plus-circle');
                iconNode.toggleClass('fa-minus-circle');
            });
    }

    setUpGroupToggles(['label'], 'label');
    setUpGroupToggles(['artist_first', 'artist_last', 'artist_name'], 'artist');

});
</script>
{% endblock %}