{% extends 'base.jinja' %}

{% block content %}

    {% if 'q' in request.GET %}
        {% set val = request.GET.q %}
    {% else %}
        {% set val = '' %}
    {% endif %}

    <form class="row" method="get" action=".">

        <div class="form-group col">
            <input type="text" class="form-control" id="q" name="q" placeholder="Search Albums" value="{{ val }}">
        </div>

        <div class="form-group col-2 text-right">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </form>

    {% if 'q' in request.GET %}

    <div class="row">
        <div class="col-2">
            <span class="font-italic align-middle">
                <span class="font-weight-bold">{{ page_obj.start_index() }}</span> -
                <span class="font-weight-bold">{{ page_obj.end_index() }}</span> of
                <span class="font-weight-bold">{{ paginator.count }}</span>
            </span>
        </div>
        {% if is_paginated %}
        <div class="col">
            <nav class="d-inline-block">
                <ul class="pagination pagination-sm mb-0">
                    {% if page_obj.has_previous() %}
                    <li class="page-item">
                            <a class="page-link"
                               href="{{ "%s?q=%s&page=%d" % (url('albums:album-search'),request.GET['q'],page_obj.previous_page_number()) }}"
                               aria-label="Previous">Previous</a>
                        </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    {% endif %}

                    {% if page_obj.has_next() %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ "%s?q=%s&page=%d" % (url('albums:album-search'),request.GET['q'],page_obj.next_page_number()) }}"
                           aria-label="Next">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}

        <table class="table table-hover album-table">
            <tbody>
                {% for res in search_results %}
                <tr>
                    <td>
                        <a href="{{ get_entity_url(res) }}">{{ res.title }}</a>
                        <span class="search-entity-label">{{ get_entity_type_label(res) }}</span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-2">
            <span class="font-italic align-middle">
                <span class="font-weight-bold">{{ page_obj.start_index() }}</span> -
                <span class="font-weight-bold">{{ page_obj.end_index() }}</span> of
                <span class="font-weight-bold">{{ paginator.count }}</span>
            </span>
        </div>
        {% if is_paginated %}
        <div class="col">
            <nav class="d-inline-block">
                <ul class="pagination pagination-sm mb-0">
                    {% if page_obj.has_previous() %}
                    <li class="page-item">
                            <a class="page-link"
                               href="{{ "%s?q=%s&page=%d" % (url('albums:album-search'),request.GET['q'],page_obj.previous_page_number()) }}"
                               aria-label="Previous">Previous</a>
                        </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    {% endif %}

                    {% if page_obj.has_next() %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ "%s?q=%s&page=%d" % (url('albums:album-search'),request.GET['q'],page_obj.next_page_number()) }}"
                           aria-label="Next">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}
    </div>

    {% endif %}
{% endblock %}
