main {
    padding: 1.5em 0;
}
.navbar-brand img {
    margin-right: 10px;
}
@media (max-width: 576px) {
    .container {
        width: 100%;
    }
}
table.album-table {
    margin: 1.5em 0;
}
#album-detail-header {
    margin: 0.8em 0;
    font-size: 1.3em;
    font-weight: 300;
}
#album-detail-header .album-title {
    font-style: italic;
}
#album-detail-header .album-title,
#album-detail-header .album-artist {
    display: inline-block;
    font-weight: 500;
    margin: 0 0.3em;
}
#album-detail-header span:first-child {
    margin-left: 0;
}
#album-detail li {
    list-style-type: none;
}
#album-detail ul {
    padding: 0;
}
.star-album {
    color: gray;
}
.star-album .fa-star {
    color: gold;
}