main {
    padding: 1.5em 0;
}

.navbar-brand img {
    margin-right: 10px;
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }
}

table.album-table {
    margin: 1.5em 0;
}

#album-detail {}

#album-detail-header {
    margin: 1.5em 0;
}

#album-detail li {
    list-style-type: none;
}

#album-detail ul {
    padding: 0;
}