main {
    padding: 1.5em 0;
}
.bg-light {
    background-color: #f0f0f0fa !important;
}
/* Fix for bug in v4.0 beta */
.show .dropdown-menu {
    display:block;
}
.navbar-brand img {
    margin-right: 10px;
}
@media (max-width: 576px) {
    .container {
        width: 100%;
    }
}
table.album-table {
    margin: 1.5em 0;
    font-size: 0.875rem;
}
table.album-table td, table.album-table th {
    padding: 0.5rem;
}
#album-detail-header {
    margin: 0.8em 0;
    font-size: 1.3em;
    font-weight: 300;
}
#album-detail-header .album-title {
    font-style: italic;
}
#album-detail-header .album-title,
#album-detail-header .album-artist {
    display: inline-block;
    font-weight: 500;
    margin: 0 0.3em;
}
#album-detail-header span:first-child {
    margin-left: 0;
}
#album-detail li {
    list-style-type: none;
}
#album-detail ul {
    padding: 0;
}
.star-album, a.print-album {
    color: gray !important;
}
.star-album .fa-star {
    color: gold;
}
.print-album .print-saved {
    color: black;
}
.album-star-control,
.album-print-control {
    text-align: center;
}
.album-star-control:hover,
.album-print-control:hover {
    cursor: pointer;
}
.form-toggle {
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.form-toggle i {
    margin-right: 5px;
}
.collapsible-form-group::after {
    font-style: italic;
    font-size: .8em;
}
.collapsible-form-group {
    padding: 1rem;
    background-color: #efefef;
    border-radius: 10px;
    margin-bottom: 1rem;
}
#artist-form-group-wrapper::after {
    content: "* Only create a new artist if the desired artist is not available above";
}
#label-form-group-wrapper::after {
    content: "* Only create a new label if the desired label is not available above";
}
.page-heading {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
}

/* LABEL PRINTING */
#label-controls {
    margin-bottom: 1.5em;
}
.label {
    border-collapse: collapse;
    width: 2.525in;
    height: calc(1in - 2px);
    margin: 0;
    padding: 0;
    line-height: 1em;
    border: 1px dotted #999;
}
div.label-row {
    display: block; 
    width: 2in; 
    text-overflow: ellipsis; 
    height: 1.6em; 
    white-space: nowrap;
    overflow: hidden; 
    padding: .25rem;
}
.color-block {
    right: 0; 
    position: absolute;
    top: .47in;
    padding: .25rem;
}
.color-block > div {
    width: calc( 1in - 8px); 
    height: calc( .2in );
}
.color-block > div:first-child {
    border: 1px solid #999;
    border-width: 0 0 1px 0;
}
.info-block {
    right:.1in; 
    position:absolute; 
    width: .65in; 
    height: 2.1em; 
    background: white; 
    z-index: 3; 
    text-align:center;
}
.label-text { 
    font-size: .7rem; 
    text-transform: uppercase;
    height: 100%;
}
.label-controls {
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    padding: .25rem;
}
.add-label-control {
    color: green;
}
.remove-label-control {
    color: red;
    left: 1.25rem;
}
.label-controls a:hover {
    color: initial;
    text-decoration: none;
}
.no-print {
    z-index:2; 
}
@media only print { 
    .no-print { 
        display:none !important; 
        visibility: none; 
        height: 0; 
        width:0; 
    }
    .label {
        border:0px dotted white;
    }
}
/* END LABEL PRINTING */