main {
    padding: 1.5em 0;
}
.navbar-brand img {
    margin-right: 10px;
}
@media (max-width: 576px) {
    .container {
        width: 100%;
    }
}
table.album-table {
    margin: 1.5em 0;
}
#album-detail-header {
    margin: 0.8em 0;
    font-size: 1.3em;
    font-weight: 300;
}
#album-detail-header .album-title {
    font-style: italic;
}
#album-detail-header .album-title,
#album-detail-header .album-artist {
    display: inline-block;
    font-weight: 500;
    margin: 0 0.3em;
}
#album-detail-header span:first-child {
    margin-left: 0;
}
#album-detail li {
    list-style-type: none;
}
#album-detail ul {
    padding: 0;
}
.star-album {
    color: gray;
}
.star-album .fa-star {
    color: gold;
}
.album-star-control {
    text-align: center;
}
.album-star-control:hover {
    cursor: pointer;
}
.form-toggle {
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.form-toggle i {
    margin-right: 5px;
}
.collapsible-form-group::after {
    font-style: italic;
    font-size: .8em;
}
.collapsible-form-group {
    padding: 1rem;
    background-color: #efefef;
    border-radius: 10px;
    margin-bottom: 1rem;
}
#artist-form-group-wrapper::after {
    content: "* Only create a new artist if the desired artist is not available above";
}
#label-form-group-wrapper::after {
    content: "* Only create a new label if the desired label is not available above";
}
.page-heading {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
}

/* LABEL PRINTING */

#label-controls {
    margin-bottom: 1.5em;
}

.label {
    border-collapse: collapse;
    width: 2.525in;
    height: calc(1in-2px);
    margin: 0;
    padding: 0;
    line-height: 1em;
    border: 1px dotted #999;
}
div.labelrow{
    display:block; width: 2in; text-overflow:ellipsis; height: 1.6em; white-space:nowrap;overflow:hidden; }

.fileunder {background: white; }

.colorblock {right:0; position:absolute;  width: calc( 1in - 8px); height: calc( .2in ) ; border:1px solid black;}
.colorblock1 {top:.5in;}
.colorblock2 {top:.7in;}
.datefileblock {right:.1in; position:absolute; width: .65in; height:2.1em; background:white; z-index:3; text-align:center;}

.label-text { font-size:11px; text-transform:uppercase;}

a.noPrint.red { border:2px solid #F44; margin:0px 0px 3px 1px;; padding:1px; background: #FFF; color:red;border-radius:10px; text-decoration:none;font-weight:bold;top:-8px; position:relative; font-size:9px;} 
a.noPrint.orange{ border:2px solid orange; margin:0px 0px 3px 1px;; padding:1px; background: #FFF; color:orange;border-radius:10px; text-decoration:none;font-weight:bold;top:-8px; position:relative; font-size:9px} 
.noPrint {z-index:2; }
#previewHeader {width: 100%; border-bottom: 10px outset #ccc; clear:both;margin:0;padding:0;}
.contentcontainer {position:relative; width:calc(100%); margin:0; z-index:1; padding:.3em .3em 0 .3em; background:#444; text-align:center;}
.contentcontainer a {color:#FDD;}
h1 {margin:0}

@media only print { 
.noPrint { display:none !important; visibility: none; height: 0; width:0; }
.label {
    border:0px dotted white;}

}

/* END LABEL PRINTING */