{% extends 'base.jinja' %}

{% block content %}

<div class="row justify-content-center" id="label-controls">
    <div class="col-2" style="text-align:center;">
        <div class="btn-group" role="group" aria-label="Label Controls">
            <button type="button" class="btn btn-success" onclick="javascript:window.print()"
                {% if albums|length == 0 %}disabled{% endif %}>Print</button>
            <a href="{{ url('labels:reset-print-labels') }}" role="button" 
                class="btn btn-warning {% if albums|length == 0 %}disabled{% endif %}">Reset</a>
        </div>
    </div>
</div>

{% if albums|length == 0 %}
<div class="row justify-content-center">
    <div class="col-8" style="text-align:center">
        <p><b>No albums selected</b></p>
        <p>You may select albums for label printing by toggling the 
        &nbsp;<i class="fa fa-print" aria-hidden="true"></i>&nbsp; icon in the 
        <a href="{{ url('albums:album-list') }}">main album listing</a>
        or <a href="{{ url('albums:album-search') }}">search</a> views. You must be a logged-in user with 
        editing privileges in order to print labels.</a></p>
    </div>
</div>
{% endif %}

<div class="row">

{% for album in albums %}

    <div class="col-4 label" id="{{ album.id }}">
        <div class="label-text ui-widget-content">
            <div class="info-block">
                {{album.created.strftime('%Y-%m-%d')}}
                <strong>{{ album.artist.file_under }}</strong>
            </div>
            <div class="color-block">
                <div style="background-color:#{{ album.genre.genrelabel.color_left }}"></div>
                <div style="background-color:#{{ album.genre.genrelabel.color_right }}"></div>
            </div>
            <div class="label-row">
                <strong>{{ album.artist.display_name }}</strong>
            </div>
            <div class="label-row">
                {{ album.title }}
            </div>
            <div class="label-row">
                {% for label in album.labels.all() %}
                    {{label.name}}{% if not loop.last %} / {% endif %}
                {% endfor %}
            </div>
            <div class="label-controls">
                <a class="no-print add-label-control" href="#" onclick="blankBefore({{ album.id }});">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </a>
                <a class="no-print remove-label-control" href="#" onclick="zapLabel({{ album.id }});">
                    <i class='fa fa-times-circle' aria-hidden='true'></i>
                </a>
            </div>
        </div>
    </div>

{% endfor %}
<div>

<script type="text/javascript">

function zapLabel(id) {
    var zapThisLabel = $("div#"+id);
    
    zapThisLabel.remove();
}

function blankBefore(id) {
    var prependLabel = $("div#"+id);
    var newLabelId = "blank"+Math.floor(Math.random()*10000001);
    prependLabel.before("<div class='col-4 label' id="+newLabelId+">"+
            "<div class='label-text'>"+
                "<div class='label-controls'>"+
                    "<a class='no-print remove-label-control' href='#' onclick='zapLabel(\""+newLabelId+"\");'>"+
                        "<i class='fa fa-times-circle' aria-hidden='true'></i>"+
                    "</a>"+
                "</div>"+
            "</div>"+
        "</div>");
}
</script>
{% endblock %}