{% extends 'base.jinja' %}

{% block content %}

<div class="row justify-content-center" id="label-controls">
    <div class="col-2" style="text-align:center;">
        <div class="btn-group" role="group" aria-label="Label Controls">
            <button type="button" class="btn btn-success" onclick="javascript:window.print()"
                {% if album_count == 0 %}disabled{% endif %}>Print</button>
            <a href="{{ url('labels:reset-print-labels') }}" role="button" 
                class="btn btn-warning {% if album_count == 0 %}disabled{% endif %}">Reset</a>
        </div>
    </div>
</div>

{% if album_count == 0 %}
<div class="row justify-content-center">
    <div class="col-8" style="text-align:center">
        <p><b>No albums selected</b></p>
        <p>You may select albums for label printing by toggling the 
        &nbsp;<i class="fa fa-print" aria-hidden="true"></i>&nbsp; icon in the 
        <a href="{{ url('albums:album-list') }}">main album listing</a>
        or <a href="{{ url('albums:album-search') }}">search</a> views. You must be a logged-in user with 
        editing privileges in order to print labels.</a></p>
    </div>
</div>
{% endif %}

<div class="row" id="album-label-sheet"></div>

{% endblock %}

{% block page_scripts %}
<script>

$().ready(() => window.renderLabelSheet('album-label-sheet'));

function clearLabel(id) {
    let headers = addHeader();
    fetch("/albums/toggle/print/"+id, {
      method: 'POST',
      headers: headers,
      credentials: "include"
    }).then(() => {
        $("div#"+id).remove();
    })
}

function insertBlankBefore(id) {
    var prependLabel = $("div#"+id);
    var newLabelId = "blank"+Math.floor(Math.random()*10000001);
    prependLabel.before("<div class='col-4 label' id="+newLabelId+">"+
            "<div class='label-text'>"+
                "<div class='label-controls'>"+
                    "<a class='no-print remove-label-control' href='#' onclick='clearLabel(\""+newLabelId+"\");'>"+
                        "<i class='fa fa-times-circle' aria-hidden='true'></i>"+
                    "</a>"+
                "</div>"+
            "</div>"+
        "</div>");
}
</script>
{% endblock %}