{% extends 'base.jinja' %}

{% set page_title = 'About This Site' %}

{% block content %}

<h1>About This Site</h1>

<p><a href="https://library.kdhx.org">library.kdhx.org</a> is a database of all albums in the KDHX music library, which is the collection of physical albums available for airplay by KDHX DJs. The general public may browse and search library contents, though only KDHX staff and DJs may log in. If you are a KDHX staff member or DJ, log in using the credentials for your @kdhx.org email.</p>

<p>The library is maintained by the KDHX Music Department. To report an issue with a record on this site--e.g. a misspelled album title--contact the <a href="mailto:musicdepartment@kdhx.org?subject=[library.kdhx.org] Issue With Library Record(s)">Music Department</a></p>

<p>For info on how to submit an album to the library, view the <a href="http://kdhx.org/about-kdhx/faq-contact">FAQs at KDHX.org</a>.</p>

<p>To report site issues, contact the <a href="mailto:chris@chrisbay.net?subject=[library.kdhx.org] Bug Report">site developer</a>.</p>

{% endblock %}