<!DOCTYPE html>
<html lang="en">

<head>

    <title>{{page_title}} - KDHX Music Library</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">

    <link rel="stylesheet" href="{{ static('css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ static('css/library-kdhx-org.css') }}">
</head>

<body>

    <header class="navbar navbar-toggleable-sm navbar-light bg-faded">
        <nav class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img id="kdhx-logo" src="{{ static('images/kdhx-logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">Music Library
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('albums:album-list') }}">Albums</a>
                    </li>
                    <!--li class="nav-item">
                        <a class="nav-link" href="#">Labels</a>
                    </li-->
                </ul>
                {% if user %}
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ url('profile:my-albums') }}">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                My Albums
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url('gauth_logout') }}">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Sign out
                            </a>
                        </div>
                    </li>
                </ul>
                {% endif %}
            </div>
        </nav>
    </header>

    <main>

        {% if messages %}
        <div class="container container-fluid" id="messages">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message|safe }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="container container-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

    <script src="{{ static('js/library-kdhx-org.js') }}"></script>

</body>

</html>