{% extends 'base.jinja' %}

{% set page_title = 'Privacy Policy' %}

{% block content %}

<h1>Privacy Policy</h1>

<h2>Google Authentication</h2>

<p>This site uses Google Authentication to allow users with kdhx.org email addresses to log in. The site does not collect or store passwords, but it does store user emails. The site does not collect or store any other information from Google accounts.</p>

<p>Personally identifiable information is not shared with 3rd parties. Anonymized data may be used by Double Helix Corporation to study site trends and usage.</p>

<h2>Log Files</h2>

<p>As is true of most Web sites, we gather certain information automatically and store it in log files. This information includes internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and clickstream data.</p>

<p>We use this information, which does not identify individual users, to analyze trends, to administer the site, to track users' movements around the site and to gather demographic information about our user base as a whole.</p>

<p>We do not link this automatically-collected data to personally identifiable information.</p>

<h2>Cookies</h2>

<p>A cookie is a small text file that is stored on a user's computer for record-keeping purposes. We do not use permanent cookies on this site. We do, however maintain temporary cookies to maintain session information. They are deleted when the session ends. We also use anonymous website analytics software, which use cookies to collect anonymous traffic data.</p>

<h2>Links to Other Sites</h2>

<p>This Web site contains links to other sites that are not owned or controlled by Double Helix Corporation Please be aware that we, Double Helix Corporation are not responsible for the privacy practices of such other sites.</p>

<p>We encourage you to be aware when you leave our site and to read the privacy statements of each and every Web site that collects personally identifiable information.</p>

<p>This privacy statement applies only to information collected by this Web site.</p>

<h2>Contact Us</h2>

<p>If you have any questions or suggestions regarding our privacy policy, please contact us:</p>

<p>Phone: 314-664-3955</p>

<p>KDHX Community Media<br>
3524 Washington Avenue<br>
Saint Louis, MO 63103</p>

{% endblock %}